{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/account_management/index.css" %}">
    <link rel="stylesheet" href="{% static "css/account_management/modal.css" %}">
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <title>Ups... Algo salio mal</title>
</head>
<body>
    <main class="content">
        <section class="modal">
            <div class="modal__container">
                <div class="container__message">
                    <p></p>
                    <img data-src="{% static 'images/' %}" src="">
                </div>
                <a class="container__button"></a>
            </div>
        </section>
        <section class="content__message">
            <div class="message">
                <div class="message__text">
                    <h1>🚨 Ha ocurrido un error 🚨</h1>
                    <p>{{ message }}</p>
                </div>
                <img 
                    class="message__img"
                    src="{% static "images/account_management/HouseFront.png" %}"
                >
            </div>
            {% if redirect.action != "Solicitar nuevo enlace" %}
                <a 
                    href="{{ redirect.url|escape }}"
                    role="button"
                >
                    {{ redirect.action }}
                </a>
            {% else %}
                <a 
                    class="requestNewLink"
                    role="button"
                    data-endpoint="{{ redirect.url|escape }}"
                >
                    {{ redirect.action }}
                </a>
            {% endif %}
        </section>
    </main>

    <script src="{% static 'javascript/requests/accountActivationLink.js' %}"></script>
</body>
</html>