* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 40px;

    font-family: 'Lato', sans-serif;
}

.content__message {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    min-width: 580px;
    gap: 60px;
}

.message {
    display: flex;
    gap: 40px;
}

.message__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.message__text h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
}

.message__text p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.message__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    transform: scale(0.9)
}

.content__message a[role="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 15px;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
    text-decoration: none;
    color: white;

    background-color: #A68810;
    border-radius: 5px;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #caa820;
        cursor: pointer;
    }
}


/* Estilos para móviles */
@media screen and (min-width: 0) and (max-width: 480px) and (orientation: portrait) {

    .content {
        align-items: center;
    }

    .message {
        flex-direction: column;
        align-items: center;
    }    

    .content__message {
        flex-direction: column;
        align-items: center;
        width: 87%;
        min-width: 0;
        transform: scale(0.9)
    }
}


/* Estilos para móviles con la pantalla horizontal */
@media screen and (min-width: 480px) and (max-width: 960px) and (orientation: landscape) {

    .content {
        align-items: center;
    }

    .content__message {
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: scale(0.9)
    }

    .message {
        gap: 30px;
    }

    .message__text {
        transform: scale(0.9)
    }

    .message img {
        transform: scale(0.8)
    }
}


/* Estilos para tablets */
@media screen and (min-width: 480px) and (max-width: 960px) and (orientation: portrait) {

    .content__message {
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: scale(0.9)
    }
}
