.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    background-color: #111111bd;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
}

.modal__container {
    position: relative;
    bottom: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;
    max-width: 550px;
    height: 90%;
    max-height: 300px;
    border-radius: 10px;
    
    background-color: white;
    transition: all 0.4s ease;
}

.modal__container--animation {
    bottom: 0;
}

.modal__container > .container__message {
    display: flex;
    align-items: center;
    gap: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.modal__container > .container__message > p {
    transform: scale(0.9)
}

.modal__container > .container__message > img {
    width: 140px;
    height: 140px;
    transform: scale(0.8)
}

.modal__container > .container__button {
    width: fit-content;
    padding: 10px 15px;
    color: white;
    background-color: #A68810;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}